---
BasedOnStyle: Google
---
Language: Cpp

AlignConsecutiveMacros: AcrossEmptyLinesAndComments
ColumnLimit: 0
ReflowComments: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
ContinuationIndentWidth: 8
AccessModifierOffset: -4
Macros:
  - COGO_BEGIN(COGO)=CO_BEGIN
  - COGO_END(COGO)=CO_END
---
