---
Checks: '
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    clang-diagnostic-*,
        -clang-diagnostic-unused-function,
        -clang-diagnostic-unused-macros,
    concurrency-*,
    misc-*,
    performance-*,
    portability-*,
    readability-*,
        -readability-identifier-length,
        -readability-implicit-bool-conversion,
    '
FormatStyle: file
...
